<!--
  ~ © 2019 The Johns Hopkins University Applied Physics Laboratory LLC.  All Rights Reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
